.date-main-label {
  display: inline-block;
  background-color: #5ba3ff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 10px;
  margin: 0 auto;
}

.date-label {
  display: block;
  width: fit-content;
  text-align: center;
  background-color: #5ba3ff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 10px;
  margin: 0 auto;
  position: relative;
  top: -15px;
}

.main-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1d1d1d;
  margin-top: 10px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1d1d1d;
}

.author {
  color: #6c757d;
  font-size: 14px;
}

.btn-read-more {
  color: #ffa500;
  font-weight: bold;
  text-decoration: none;
}

.main-article .card-img-top {
  border-radius: 8px;
}

.small-article .card-title {
  font-size: 1rem;
}

.card-text {
  font-size: 14px;
  color: #5a5a5a;
  text-align: justify;
}

.main-article {
  display: flex;
  margin-top: 60px;
}

.main-article .card-body {
  padding: 20px;
}

.small-article {
  margin-top: 30px;
}
